mixin body(class_body, nav_active, url)
    - var class_body
    - var nav_active
    - var url
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Ken Nguyen
        meta(name='description' content='test')
        meta(name='keywords' content='test')
        meta(property='og:title' content='test')
        //- meta(property='og:type' content='dumy')
        //- meta(property='og:description' content='dumy')
        //- meta(property='og:url' content='common/images/og.jpg')
        meta(property='og:image' content=`${url}common/images/banner_01.jpg`)
        meta(property='og:site_name' content='test')
        link(rel='icon' href=`${url}common/images/favicon.ico`)
        link(rel="stylesheet", href=`${url}common/css/bootstrap.min.css`)
        //- link(rel='stylesheet' href=`${url}common/css/slick.css`)
        //- link(rel="stylesheet" href=`${url}common/css/slick-theme.css`)
        link(rel='stylesheet' href=`${url}common/css/owl.carousel.min.css`)
        //- link(rel="stylesheet" href=`${url}common/css/owl.theme.default.min.css`)
        link(rel='stylesheet' href=`${url}common/css/common.css`)
        link(rel='stylesheet' href=`${url}common/css/styles.css`)
    body(class= class_body nav_active) 
        include _header
        main 
            if block
                block 
            else
                p No content provided
            
        include _footer
        include _script

mixin manager(active)
    - var active
    .manager_member 
        .info.flexBox.midle 
            .avatar 
                .imgDrop 
                    img(src="common/images/avatar.png", alt="")
            .name 
                .fz-18 Account of
                .fz-24 Anna
        .info_course 
            ul 
                - 
                    var arr = [{
                        txt: 'My Downloaded Projects',
                        link: 'manager'
                    },{
                        txt: 'Upgrade Today',
                        link: 'upgrade'
                    },{
                        txt: 'Account Settings',
                        link: 'account'
                    }]
                each item,key in arr
                    li.mt-40
                        a(href=`${item.link}.html` class=(active === key ? "active" : undefined))
                            .icon 
                                img(src=`common/images/icon/acc_0${key+1}.svg`, alt="")
                                img.on(src=`common/images/icon/acc_0${key+1}_on.svg`, alt="")
                            .txt= item.txt
