#fb-root
script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0' nonce='EsXrjZVa')
script(src=`${url}common/js/jquery.min.js`)
script(src=`${url}common/js/select_custom.js`)
script(src=`${url}common/js/jquery.matchHeight-min.js`)
script(src=`${url}common/js/owl.carousel.js`)
script(src=`${url}common/js/slick.js`)
script(src=`${url}common/js/popper.min.js`)
script(src=`${url}common/js/bootstrap.min.js`)
//- script(src=`${url}common/js/read_more.js`)
script(src=`${url}common/js/main.js`)